// Fonts
$fontFamily:"Open Sans";
$SecondFontFamily: "Open Sans";
$FontFamilyHeadings: "Poppins";

// Container
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;

//Colors
$primary: #000;
$secondary: hsl(193, 100%, 96%);
$dark: hsl(192, 100%, 9%);
$grayshBlue: hsl(208, 11%, 55%);
$accent: hsl(322, 100%, 66%);
$black: #000;
$white: #fff;